@import 'tailwindcss';

@theme {
  --font-noto-sans: 'Noto Sans', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}
